/* utilidades*/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.center-texto {
    text-align: center;
}

.d-block {
    display: block!important;
}


/* Informacion */

.centrar-texto {
    text-align: center;
    margin-top: 2rem;
}

.fw-300 {
    font-weight: 400;
    font-size: 300%;
}

.espacio {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.espacio2 {
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}


/* Pie */

.site-footer {
    background-color: #211f20;
    margin: 0;
}

.contenedor-footer {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.copy {
    color: #ffffff;
    margin: 0;
}


/** Navegacion**/

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 2rem;
}

.navegacion a:hover {
    color: #71b100;
}

.navegacion a:last-of-type {
    margin: 0;
}